body {

    background-color: gray;
    margin-left: 6cap;
    margin-right: 6cap;
    font-family: Arial, Helvetica, sans-serif;
}


.header {

    Display: flex;
    justify-content: center;

}

#introtext {}





#Kalenderblatt {

    margin: 30px auto;
    background-color:

}

#Kalenderblatt table {
    border-spacing: 0px;
    border-collapse: collapse;
    border: 0px solid black;
    font-size: 2cap;


}

#Kalenderblatt table th {

    border-top: 2px solid black;
    background: rgb(117, 137, 138);
    border-left: 2px solid black;
    border-right: 2px solid black;

}

#Kalenderblatt table td {


    background: slategrey;
    text-align: center;
    padding: 0.6em;
    border-top: 2px solid black;
    border-left: 2px solid black;
    cursor: pointer;
    border-right: 2px solid black;
    border-bottom: 2px solid black;

}



#kalenderblatt td.heute {
    background: green;
}

#Kalenderblatt th.sa {
    color: blue;
}

#Kalenderblatt td.sa {
    color: blue;

}

#Kalenderblatt th.so {
    color: red;
}

#Kalenderblatt td.so {
    color: red;
}



td:nth-child(1) {
    background-color: lightgray;
    color: burlywood;

}















#historie {}