body {
    background-color: rgb(66, 45, 45);

 }

.container {
    display: grid;
    grid-template-areas:
        "header header"
        "kalenderblatt text_box";
    grid-template-columns: 1fr,1fr;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    
    font-family: Arial, sans-serif;

    
}

.header {
    grid-area: header;
    font-size: 2rem;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    color: black;
    font-weight: bold;
     
    hover {
        background-color: rgb(124, 119, 119);
    } 

}


#kalenderblatt {
    grid-area: kalenderblatt
    display: grid;
    padding: 20px;


table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    cursor: pointer;
    font-family: Arial, sans-serif;
}

#month {
    padding: 20px;
    font-size: 3cap;
     

}
  
td:hover {
    background-color:  #856a6a;

}

th {
    background-color:   #856a6a;
    font-size: 30px;
}

td {
    background-color:rgb(124, 119, 119);


}

td:nth-child(1) {
    background-color: #856a6a;
    font-weight: bold;
    font-size: 25px;
}



#samstag, SA {
color: darkblue;

}

#sonntag, SO {
    color: darkred;
}    

td:nth-child(7){
    color: darkblue;
}

td:nth-child(8){
    color: darkred;
}


#today {
    background-color: rgb(160, 133, 59);
}


#text_box {
    grid-area: text_box;

    
}

h4 {
    margin-bottom: 10rem;
}


