body {

    margin-right: 30px;
    margin-left: 30px;
    background-image: url('IT.jpg');
    background-size: cover;
   
}



.container {
    display: grid;
    grid-template-areas:
        "header header"
        "kalenderblatt text_box";
    grid-template-columns: 1fr, 1fr;
    justify-content: center;
    gap: 30px;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;

}


.header {
    

    grid-area: header;
    padding: 5px 0 30px 0;
    font-size: 1.2rem;
    border-radius: 20px;


    &:hover {
  background-color: rgb(124, 123, 121);
  }

}







#kalenderblatt {
    grid-area: kalenderblatt;
    border: #6b5b5b;
    border-radius:2cap

}






#kalenderblatt td:hover {
    background-color: rgb(65, 62, 62);
}



#th_monat {
    height: 80px;
    font-size: 1.8rem;
    background-color: #6b5b5b;

}


#Kalenderblatt table,
td {
    background: rgb(124, 123, 121);
    text-align: center;
    padding: 1cap;
    border: 2px solid rgb(177, 146, 146);
    border-radius: 20px;
    cursor: pointer;
    font-size: 1.5rem;

}





td:nth-child(1) {
    background-color: #6b5b5b;
    font-weight: bold;
    font-size: 25px;
}


#samstag, SA {
color: darkblue;

}


#sonntag, SO {
    color: darkred;
}    



td:nth-child(7){

    color: darkblue;
}


td:nth-child(8){
    color: darkred;
}


#today {
    background-color: rgb(7, 92, 7);
}


#text_box {
    grid-area: text_box;
    color:  #e4dcdc;
    font-size: 1rem;
    
}

h4 {
    margin-top: 10rem;

  }